.app {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  background-color: red; 
  padding: 20px;
  top: 0;
  width: 100%;
}

.content {
  padding-top: 80px; 
}

.notas-container {
  margin: 20px 0;
  padding: 20px;
  background-color: #2D9BF0;
  border-radius: 10px;
}

.nota-input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.buttons-container {
  margin: 20px 0;
}

.btn {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn.add {
  background-color: green;
}

.btn.add:hover {
  background-color: darkgreen;
  transform: scale(1.05);
}

.btn.delete {
  background-color: red;
}

.btn.delete:hover {
  background-color: darkred;
  transform: scale(1.05);
}

.promedio-display {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}